@use "../custom" as *;

.meal-card {
  width: 100%;
  padding: 0 2px;
  .meal-image {
    min-height: 30px;
    flex: 0 0 30px;
  }

  .meal-title {
    min-height: 1px;
    flex: 1 0 40%;

    font-weight: 400;
    font-size: x-small;
    line-height: 0.8rem;
  }
}

.meal-placeholder {
  font-weight: 400;
  font-size: x-small;
  padding: 0.5rem;
  opacity: 20%;
}
